<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dongnao.workbench.system.dao.ResActMapper">
	<resultMap id="BaseResultMap" type="com.dongnao.workbench.system.model.ResAct">
		<id column="ID" property="id" jdbcType="VARCHAR" />
		<result column="RESUU_ID" property="resuuId" jdbcType="VARCHAR" />
		<result column="ACT_NAME" property="actName" jdbcType="VARCHAR" />
		<result column="ACT_CODE" property="actCode" jdbcType="VARCHAR" />
		<result column="ACT_URL" property="actUrl" jdbcType="VARCHAR" />
		<result column="NEED_RIGHT" property="needRight" jdbcType="CHAR" />
		<result column="STATUS" property="status" jdbcType="CHAR" />
		<result column="MEMO" property="memo" jdbcType="VARCHAR" />
		<result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="UPDATER_ID" property="updateId" jdbcType="VARCHAR" />
		<result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
		<result column="CREATOR_ID" property="createId" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		ID
		,RESUU_ID
		,ACT_NAME
		,ACT_CODE
		,ACT_URL
		,NEED_RIGHT
		,STATES
		,MEMO
		,UPDATE_TIME
		,UPDATER_ID
		,CREATE_TIME
		,CREATOR_ID
	</sql>

	<select id="getByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from SYS_RO_RESACT
		where ID = #{id,jdbcType=VARCHAR}
	</select>

	<select id="listByCondition" resultMap="BaseResultMap"
		parameterType="com.dongnao.workbench.system.model.ResAct">
		select
		<include refid="Base_Column_List" />
		from SYS_RO_RESACT
		where 1=1
		<if test="resuuId != null and '' != resuuId">
			and RESUU_ID = #{resuuId,jdbcType=VARCHAR}
		</if>
		<if test="createTime != null and '' != createTime">
			and CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
		</if>
		<if test="updateTime != null and '' != updateTime">
			and UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
		</if>
		<if test="needRight != null and '' != needRight">
			and NEED_RIGHT = #{needRight,jdbcType=CHAR}
		</if>
		<if test="actCode != null and '' != actCode">
			and ACT_CODE like CONCAT('%',#{actCode,jdbcType=VARCHAR},'%')
		</if>
		<if test="states != null and '' != states">
			and STATES = #{states,jdbcType=CHAR}
		</if>
		<if test="id != null and '' != id">
			and ID = #{id,jdbcType=VARCHAR}
		</if>
		<if test="actUrl != null and '' != actUrl">
			and ACT_URL = #{actUrl,jdbcType=VARCHAR}
		</if>
		<if test="actName != null and '' != actName">
			and ACT_NAME like CONCAT('%',#{actName,jdbcType=VARCHAR},'%')
		</if>
		<if test="createId != null and '' != createId">
			and CREATOR_ID = #{createId,jdbcType=VARCHAR}
		</if>
		<choose>  
        	<when test="sortFild != null and '' != sortFild">  
            	order by ${sortFild} ${sortBy}
        	</when>  
    	</choose> 
	</select>

	<delete id="deleteByKey" parameterType="java.lang.Integer">
		delete from
		SYS_RO_RESACT
		where ID = #{id,jdbcType=VARCHAR}
	</delete>
	<insert id="add" parameterType="com.dongnao.workbench.system.model.ResAct">
		insert into SYS_RO_RESACT (
		<include refid="Base_Column_List" />
		)
		values (
		#{id,jdbcType=VARCHAR}
		,#{resuuId,jdbcType=VARCHAR}
		,#{actName,jdbcType=VARCHAR}
		,#{actCode,jdbcType=VARCHAR}
		,#{actUrl,jdbcType=VARCHAR}
		,#{needRight,jdbcType=CHAR}
		,#{states,jdbcType=CHAR}
		,#{memo,jdbcType=VARCHAR}
		,#{updateTime,jdbcType=TIMESTAMP}
		,#{updateId,jdbcType=VARCHAR}
		,#{createTime,jdbcType=TIMESTAMP}
		,#{createId,jdbcType=VARCHAR}
		)
	</insert>

	<update id="update" parameterType="com.dongnao.workbench.system.model.ResAct">
		update SYS_RO_RESACT set
		RESUU_ID = #{resuuId,jdbcType=VARCHAR}
		,CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
		,MEMO = #{memo,jdbcType=VARCHAR}
		,UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
		,NEED_RIGHT = #{needRight,jdbcType=CHAR}
		,ACT_CODE = #{actCode,jdbcType=VARCHAR}
		,UPDATER_ID = #{updateId,jdbcType=VARCHAR}
		,STATES = #{states,jdbcType=CHAR}
		,ACT_URL = #{actUrl,jdbcType=VARCHAR}
		,ACT_NAME = #{actName,jdbcType=VARCHAR}
		,CREATOR_ID = #{createId,jdbcType=VARCHAR}
		where ID = #{id,jdbcType=VARCHAR}
	</update>
</mapper>
