@charset "utf-8";
*{ margin:0; padding:0;}
html {font-family:"Microsoft YaHei",SimSun,SimHei;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
body{font-family:"Microsoft YaHei",SimSun,SimHei;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale; background:#fff; overflow-x:hidden;overflow-y:hidden; font-size:14px;}
input,textarea,select,option,textarea,em,h1,h2,h3,h4,h4,h6,strong,span,li,dl,dt,td{font-family:"Microsoft YaHei",SimSun,SimHei;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale; outline:none;}
h1,h2,h3,h4,h5,h6,em,i{font-style:normal; font-weight:400; outline:none;}
table{border-collapse:collapse;border-spacing:0;}
li,dl,dt,dd{list-style-type:none;}
.clearfix:before, .clearfix:after {content:" ";display:table}
.clearfix:after {clear:both}
img{border:0px;width:100%; height:auto; width: auto\9;}
a{text-decoration:none;outline:none;}
.fl{ float:left;}
.fr{ float:right;}
.mt14{ margin-top:14px;}
.ml14{ margin-left:14px;}
.mr10{ margin-right:10px;}

.red_txt{ color:#ff1e00;}
.blue_txt{ color:#2574e1;}

.icon_update{ position: relative;width:18px; height:18px; background:url(../images/state_icon/icon_update.png) no-repeat;display: inline-block; top:3px;}
.icon_online{position: relative;width:16px; height:22px; background:url(../images/state_icon/icon_online.png) no-repeat;display: inline-block;top:4px;}
.icon_offline{position: relative;width:16px; height:22px; background:url(../images/state_icon/icon_offline.png) no-repeat;display: inline-block;top:4px;}

.icon_bj{position: relative;width:16px; height:16px; background:url(../images/state_icon/icon_bj.png) no-repeat;display: inline-block;top:2px; float:left; margin-right:5px;margin-left: 3px;}
.icon_error{position: relative;width:16px; height:16px; background:url(../images/state_icon/icon_error.png) no-repeat;display: inline-block;top:2px; float:left; margin-right:5px;margin-left: 3px;}

.title-icon{ position:relative; display:inline-block; background-image:url(../images/title-icon.png); background-repeat:no-repeat;}
.icon_hztj{ background-position:0 0; width:16px; height:14px; float:left; top:3px; }
.icon_newlist{background-position:-41px 0; width:16px; height:15px; float:left; top:4px;}
.icon_jcxh{background-position:-60px 0; width:16px; height:16px; float:left; top:4px;}
.icon_jconline{background-position:-20px 0; width:16px; height:15px; float:left; top:4px;}
.icon_warn{background-position:-80px 0; width:13px; height:16px; float:left; top:4px;}
