@font-face {font-family: "iconfont";
  src: url('fonts/iconfont.eot?t=1468999842'); /* IE9*/
  src: url('fonts/iconfont.eot?t=1468999842#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/iconfont.woff?t=1468999842') format('woff'), /* chrome, firefox */
  url('fonts/iconfont.ttf?t=1468999842') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('fonts/iconfont.svg?t=1468999842#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:4rem;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.iconfont-small {
  font-family:"iconfont" !important;
  font-size:3.5rem;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
   position: absolute;
    left: 0;
}
.iconfont-xsmall {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-users:before { content: "\e883"; }
.icon-pencilsquareo:before { content: "\e7b2"; }
.icon-linechart:before { content: "\e765"; }
.icon-envelope:before { content: "\e6d3"; }
.icon-edit:before { content: "\e6cc"; }
.icon-commenting:before { content: "\e6a9"; }
.icon-calculator:before { content: "\e663"; }
.icon-weixin:before { content: "\e893"; }
.icon-yen:before { content: "\e8a4"; }
.icon-tty:before { content: "\e86b"; }
.icon-thumbsoup:before { content: "\e852"; }
.icon-thumbsodown:before { content: "\e851"; }
.icon-unpaidorder:before { content: "\e7de"; }
.icon-order:before { content: "\e7c6"; }
.icon-phone:before { content: "\e7c7"; }
.icon-31leimu:before { content: "\f020d"; }
.icon-tuikuantuihuo:before { content: "\f01c9"; }
.icon-wodezichan:before { content: "\f0191"; }
.icon-banshou:before { content: "\e601"; }
.icon-biaoqian:before { content: "\e602"; }
.icon-gift:before { content: "\e601"; }
.icon-remind:before { content: "\e621"; }
.icon-all:before { content: "\e615"; }
.icon-addressfill:before { content: "\e605"; }
.icon-lights:before { content: "\e60d"; }
.icon-notice:before { content: "\e60e"; }
.icon-search:before { content: "\e62f"; }
.icon-iconfontyiqiyibiao:before { content: "\e646"; }
.icon-wxbdingwei:before { content: "\e624"; }
.icon-wxbsousuotuiguang:before { content: "\e620"; }
.icon-shiwangwawa:before { content: "\e601"; }
.icon-money1:before { content: "\e623"; }
.icon-vip:before { content: "\e81d"; }
.icon-vipffb400:before { content: "\e606"; }
.icon-vip1:before { content: "\e62f"; }
.icon-yuangong:before { content: "\e631"; }
