	@CHARSET "utf-8";
	.wrap{
		width: 90%;
		margin:auto;
	}
	.top_head{
		width:100%;
		height:40px;
		line-height:40px;
		text-align: center;
		position: relative;
		margin-bottom:30px;
	}
	.top_name{
		display: inline-block;
		margin: auto;
		height:40px;
		line-height:40px;
		width: 100px;
	}
	.center_body .table {
	    font-weight: normal;
	    border: 1px solid #E4E4E4;
	    border-right: none;
	    border-bottom: none;
	}
	.center_body .table td{
	    font-weight: normal;
	}
	.center_body .inputLabelTd{
		background-color:#fff; 
		text-align: center;
	}
	.center_body input.text{
		height:33px;
		line-height:33px;
		border:none;
		box-shadow:none;
		width: 96%;
	}
	.center_body textarea {
		border:none;	
		resize:none;
		box-shadow:none;
		width: 98%;
		height:98%;
		padding: 5px;
	}